<div class="container">
	<div class="contents">
		<div class="sub-container center">
			<label class="label">
				Sign in to continue
			</label>
			<div>
				<input type="text"  ng-model="form.email" placeholder="luatsutunhan78@gmail.com" class="input">
			</div>
			<div>
				<input type="text"  ng-model="form.password" placeholder="Password" class="input">
			</div>
			<div>
				<div class="checkbox checkbox-success">
					<input type="checkbox"  ng-model="form.keepmein"  class="input" id="keepmein">
					<label for="keepmein">Keep me logged in</label>
				</div>
			</div>
			<div>
				<button class="button" ng-click="login()"><i class="glyphicon-log-in"></i> Log In</button>
			</div>
			<div><a href="#" class="a">Sign Up</a><a href="#" class="a">Need help?</a></div>
		</div>
	</div>
</div>